
@{
    ViewBag.Title = "Login";
}

<h2>Login :</h2>
<center>
    <table>
        <tr><td>UserName</td> <td><input type="text" name="name" value="" /></td></tr>
        <tr><td>Password</td> <td><input type="text" name="name" value="" /></td></tr>
        <tr><td colspan="2" style="align-content:center" ><input type="submit" name="Login" value="Login" onlclick="Home/LoginSubmit" /></td></tr>
    </table>
</center>

